# sudo apt-get install mysql-server libmysqlclient-dev libpq-dev python-dev python3-dev build-essential 
wheel
sklearn-pandas
scripts
unidecode
word2number
contractions
pyspellchecker==0.5.6
pattern
mlflow[extras]
beautifulsoup4
contractions
nltk
spacy==2.3.5
unidecode
word2number
matplotlib
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
hyperopt
seaborn
mlflow